management:
    security:
        enabled: false
security:
    basic:
        enabled: false

spring:
    datasource:
      url: jdbc:mysql://localhost:3306/iwanttoeat?useSSL=false&useUnicode=yes&characterEncoding=UTF-8
      username: root
      password: root
      sql-script-encoding: UTF-8

    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        properties:
            hibernate:
                current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
                dialect: org.hibernate.dialect.MySQL5Dialect
                format_sql: true
        show-sql: true

logging:
    file: /Users/antonpavlov/IdeaProjects/new/bookshelf/logsapp.log
    pattern:
      file: "%d{HH:mm:ss} %-5p [%c] - %m%n"

    level:
        ROOT: error
        org.springframework: warn
        javax.faces: warn
        org.omnifaces: warn
        org.springframework.security: warn
        org.hibernate: warn
        org.hibernate.type.descriptor.sql: warn
server:
  port: 8080